{% extends 'base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">{{ contact.first_name }} {{ contact.last_name }}</h1>

        <hr>
        <div style="margin: 2rem 0;">
            <a href="{% url 'contact:contacts' %}">Voltar para a página de inicial</a>
        </div>

        <img
            alt="Foto de {{ contact.full_name }}"
            {% if contact.image %}
                src="{{ contact.image.url }}"
            {% else %}
                src="{{ MEDIA_URL }}images/default-user-image.png"
            {% endif %}
            style="width: 100px; height: auto; border-radius: 0.5rem;"
        >

        <p><b>ID:</b> {{ contact.id }}</p>
        <p><b>N. Telefone:</b> {{ contact.phone }}</p>
        <p><b>E-mail:</b> {{ contact.email }}</p>
        <p><b>Categoria:</b> {{ contact.category.name }}</p>
        <p><b>Descrição:</b> {{ contact.description }}</p>
        {% if contact.owner %}
            <p>
                <b>Criador do Contato:</b> {{ contact.owner.first_name }}
                {{ contact.owner.last_name }}
            </p>
        {% endif %}
        <p><b>Data de Criação:</b> {{ contact.created_at }}</p>

        {% if user.is_authenticated %}
            <div class="contact-links">
                {% if user != contact.owner %}
                    <a class="btn btn-link disabled" href="#">Update</a>
                    <button class="btn btn-link btn-delete disabled" disabled type="submit">
                        Delete
                    </button>
                {% else %}
                    <a class="btn btn-link" href="{% url 'contact:update' contact.pk %}">Update</a>
                    <form action="{% url 'contact:delete' contact.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-link btn-delete" type="submit">
                            Delete
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>

<script>
    const blockedFieldsByOwner = document.querySelectorAll('.disabled');

    const notOwnerMessage = 'Apenas o criador do contato pode fazer esta ação.';

    blockedFieldsByOwner.forEach(field => field.setAttribute('title', notOwnerMessage));
</script>
{% endblock content %}
